            </div>
            <footer class="mdl-mini-footer">
                <div class="mdl-mini-footer__left-section">
                    <div class="mdl-logo">Steven's Random Scribes</div>
                </div>
                <div class="mdl-mini-footer__right-section">
                    <p>My thought's on programming, data science, business analysis, and managing.</p>
                </div>
            </footer>
        </main>
    </div>
    <script src="https://code.getmdl.io/1.2.1/material.min.js"></script>
</body>

</html>