{{ partial "header.html" . }}
<link rel="stylesheet" href="/css/lib/font-awesome-4.7.0/css/font-awesome.min.css">

<section id="contact" class="mdl-cell mdl-cell--12-col mdl-shadow--4dp">
	<div>
		<div class="padding-8">
	        <article id="content">
	           {{ .Content }}
   	        </article>
   	        <div class="mdl-cell--8-col mdl-cell--12-col-tablet randomscribes-margin-auto">
		        <ul class='randomscribes-contact-list'>
		        	<li><a href="https://twitter.com/hancock_steven"><i class="fa fa-twitter-square" aria-hidden="true"></i> Send an Electronic Carrier Pigeon</a></li>
		        	<li><a href="https://ca.linkedin.com/in/stevenmhancock"><i class="fa fa-linkedin-square" aria-hidden="true"></i> All Business</a></li>
		        	<li><a href="https://www.facebook.com/hancock.steven"><i class="fa fa-facebook-official" aria-hidden="true"></i> Book My Face</a></li>
		        </ul>
   	        </div>
		</div>
	</div>
</section>

{{ partial "footer.html" . }}

